<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartzJobs" type="QuartzScheduledWorkerRole.Configuration.QuartzJobConfigurationSection,QuartzScheduledWorkerRole"/>
  </configSections>
  <quartzJobs>
    <secondlyJobs>
      <secondlyJob jobType="QuartzScheduledWorkerRole.Jobs.SecondlyJob,QuartzScheduledWorkerRole" triggerInterval="5"/>
    </secondlyJobs>
    <dailyJobs>
      <dailyJob jobType="QuartzScheduledWorkerRole.Jobs.DailyJob,QuartzScheduledWorkerRole" hour="11" minute="30"/>
    </dailyJobs>
    <weeklyJobs>
      <weeklyJob jobType="QuartzScheduledWorkerRole.Jobs.WeeklyJob,QuartzScheduledWorkerRole" dayOfWeek="Monday" hour="11" minute="33"/>
    </weeklyJobs>
  </quartzJobs>

  <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>