<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartzJobs" type="PollingWorkerRole.Configuration.QuartzJobConfigurationSection,PollingWorkerRole"/>
  </configSections>
  <quartzJobs>
    <secondlyJobs>
      <secondlyJob jobType="PollingWorkerRole.Jobs.MyQueueJob,PollingWorkerRole" triggerInterval="30"/>
    </secondlyJobs>
  </quartzJobs>

</configuration>